html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
  height: 100%;
  margin: 0;
}

#nav-bar li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  margin: 0;
}

.container {
  min-height: 100%;
  margin-bottom: -4em;
}

/* .main-section {
  min-height: 100%;
  padding: 2em 2em 6em;
  margin-bottom: -4em;
} */
 
.end-content {
  line-height: 6;
  padding: 0 20px;
}

h1 {
  margin: 0 0 20px 0;
}

p {
  margin: 20px 0 0 0;
}



.end-content {
  line-height: 50px;
  padding: 0 20px;
}



/* General Styling */
.container {
  background-color: #ededed;
}

.nav-bar {
  background-color: #009688;
}



#nav-bar li:nth-child(1) {
  color: #fff;
  font-size: 1.5em;
}


.side-bar li {
  display: inline;
  list-style-type: none;
  font-size: 2.6em;
}


.nav-bar, .main-section, .side-bar, .end-content {
  padding: 1em 2em;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}


.end-content {
  background-color: #757575;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Roboto', sans-serif;
}

aside {
  color: #fff;
  font-size: 0.8em;
}

/* 

html,
body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
  padding: 2em 2em 6em; /* 70px = footer height + expected padding */
  /* margin-bottom: -4em;  /* brings the footer into the padding gap */
/* }
.footer {
  height: 4em;
}










* {
  box-sizing: border-box;
}
body {
  font: 16px Sans-Serif;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 20px 0 0 0;
}
footer {
  background: #42A5F5;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}

*/